# timone - .gitignore
# by Giovanni Stracquadanio
*

# accepted files
!.github
!.github/**
!docs
!docs/*
!tests
!tests/*
!tests/**
!timone
!timone/*
!timone/**
!*.py
!.bumpversion.cfg
!.editorconfig
!.gitattributes
!.gitignore
!tox.ini
!environment.yml
!requirements.txt
!LICENSE
!MANIFEST.in
!README.md

# re-ignore files/dirs
.DS_Store
.vscode
__pycache__
